:root {
  --bgColor: #444;
  --headerColor: #1bcaff;
  --borderColor: #00000025;
  --listColor: #33333350;
  --textColor: #fff;
  --btnColor: #ff1b1b;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

.App-Container {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
}

.App-Header {
  background-color: var(--headerColor);
  margin: 0;
  padding: 0;
  color: var(--textColor);
  border-bottom: 1px solid var(--borderColor);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-Wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 0;
  min-height: 100vh;
}

.App-Content {
  flex: 1;
  position: relative;
  min-height: 50vh;
}

.App-Sidebar {
  margin: 0;
  padding: 0;
  background-color: var(--listColor);
  color: var(--textColor);
  border: 1px solid var(--borderColor);
}

.App-Sidebar section .Label {
  font-style: italic;
  color: #000;
}

.App-Sidebar section .list {
  border-top: 1px solid var(--borderColor);
  border-bottom: 1px solid var(--borderColor);
  font-size: 1.1rem;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media only screen and (min-device-width: 481px) {
  .App-Wrapper {
    display: grid;
    grid-template-columns: 3fr max-content;
    grid-template-rows: 1fr;
    position: relative;
    min-height: 100vh;
  }

  .App-Content {
    position: relative;
    min-height: 100vh;
  }

  .App-Sidebar {
    margin: 0;
    padding: 0.5vh 0.5vw;
    background-color: var(--listColor);
    color: var(--textColor);
    border: 1px solid var(--borderColor);
  }

  .App-Sidebar section .Label {
    font-style: italic;
    color: #000;
  }

  .App-Sidebar section .list {
    border-top: 1px solid var(--borderColor);
    border-bottom: 1px solid var(--borderColor);
    min-height: 30px;
    font-size: 1.1rem;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
