.customersWrapper {
  flex: 2;
  order: 2;
}

.customerListItem {
  border-bottom: 1px solid var(--borderColor);
}

.customerListItem:last-child {
  border-bottom: none;
}

.customerName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.listAction {
  border: none;
  cursor: pointer;
  background: transparent;
  color: var(--btnColor);
}

.listAction:hover {
  color: var(--textColor);
  background-color: palevioletred;
}
